.welcome-area{
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.397) 0%, rgba(68,42,226,0.18669474625787819) 35%, rgba(0, 213, 255, 0.247) 100%);
}

.welcome-text{
  color: black;
  margin-top: 1% !important;
  margin-bottom: 1% !important;
}
